@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

:root {
  --night-black: #05070a;
  --wolf-gold: #f0c354;
  --shadow-gold: #8a6621;
  --wolf-silver: #d4e5ef; /* To je ta tvoje původní barva, co teď použijeme na glow */
  --silver-glow: rgba(212, 229, 239, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important; /* Dominantní skrytí kurzoru */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--night-black);
  color: white;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Výchozí stav - skryto a posunuto dolů */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}

/* Stav po zobrazení - vyjede nahoru a zviditelní se */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Hlavní kontejner */
.app { 
  min-height: 100vh; 
  position: relative; 
  background: var(--night-black);
}







.compare-item img {
  width: 100%;
  height: 450px; /* Nastav jednotnou výšku */
  object-fit: cover; /* Obrázek se ořízne tak, aby vyplnil prostor a nedeformoval se */
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.compare-item span {
  display: block;
  color: var(--wolf-gold);
  margin-bottom: 10px;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .comparison-container { grid-template-columns: 1fr; }
}

/* Tlačítko pro zvýrazněnou kartu */
.gold-btn.small.fill {
  background: var(--wolf-gold);
  color: black;
}